body {
  font-family: "Press Start 2P";
  background-color: gainsboro;
  text-align: center;
  position: fixed;
  margin-left: 9%;
  margin-right: 9%;
}

h1 {
  font-size: 60px;
}

.container {
  width:700px;
  height:300px;
  margin-top: 50px;
  margin-bottom: 25px;
  background: #999;
  border-radius: 1em;
  position: relative;
}

#container {
  background-image: url('../images/court.png');
  background-repeat: no-repeat;
  background-size: 700px 300px;
}

#ball {
  height:30px;
  width:30px;
  left: 25px;
  background: lime;
  border-radius: 50%;
  position: absolute;
}

.btn-container {
  text-align: center;
}

#single {
  font-size: 1.5em;
  padding:.5em 1.5em;
  background: none;
  border-radius: 1.5em;
  border: 2px solid black;
  color: black;
  transition: .2s;
  outline: none;
  font-family: "Press Start 2P";
  font-size: 16px;
}
#single:hover {
  background: #999;
  color: white;
  border: 2px solid #999;
}
#single:active {
  background: #666;
  color: white;
  border: 2px solid #666;
}

#btn {
  font-size: 1.5em;
  padding:.5em 1.5em;
  background: none;
  border-radius: 1.5em;
  border: 2px solid black;
  color: black
  transition: .2s;
  outline: none;
  font-family: "Press Start 2P";
  font-size: 16px;
}
#btn:hover {
  background: #999;
  color: white;
  border: 2px solid #999;
}
#btn:active {
  background: #666;
  color: white;
  border: 2px solid #666;
}

#tournament {
  font-size: 1.5em;
  padding:.5em 1.5em;
  background: none;
  border-radius: 1.5em;
  border: 2px solid black;
  color: black;
  transition: .2s;
  outline: none;
  font-family: "Press Start 2P";
  font-size: 16px;
}
#tournament:hover {
  background: #999;
  color: white;
  border: 2px solid #999;
}
#tournament:active {
  background: #666;
  color: white;
  border: 2px solid #666;
}

#pad {
  height: 60px;
  width: 25px;
  position: absolute;
  background: red;
}

#pad2 {
  height: 60px;
  width: 25px;
  position: absolute;
  left: 675px;
  background: blue;
}

#game {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#controls {
  height: 335px;
  width: 200px;
  border-radius: 1.5em;
  border: 2px solid black;
  color: black;
  transition: .2s;
  margin-right: 100px;
  text-align: center;
}

#leaderboard {
  height: 300px;
  width: 225px;
  border-radius: 1.5em;
  border: 2px solid black;
  color: black;
  transition: .2s;
  margin-left: 100px;
}

.toptext {
  margin-right: 4%;
}

.btn-container {
  margin-right: 4%;
}
